.player-text {
    position: absolute;
    z-index: 3;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    height: auto;
    font-size: 20px;
    transition: 0.8s ease-out;
}

.player-text>p {
    padding: 0;
    margin: 0;
    text-align: start;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-width: 300px;
    color: var(--sec-color);
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.nav-container li {
    list-style: none;
    position: relative;
    font-size: 0.8rem;
    color: var(--sec-color);
    height: 100px;
    width: 18%;
    background-color: var(--main-color);
    cursor: pointer;
    padding: 10px;
    transition: 0.5s;
}

a {
    color: var(--sec-color);
    text-decoration: none;
}

a:active {
    color: var(--back-color);
}

.nav-container li span {
    position: absolute;
    top: 43%;
    left: 42%;
    font-size: 1.2rem;
}

.nav-container {
    display: flex;
    width: 100%;
    height: 120px;
    gap:5px;
    align-items: center;
    padding: 5px;
    background-color: var(--sec-color);
}

.nav-container li:hover {
    width: 30%;
}

.info {
    width: 100%;
    height: 400px;
    background-color: #ffffff15;
    margin: 0;
    padding: 5px;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.key-container {
    position: relative;
    margin-top: 25px;
    gap: 5px;
    width: 250px;
    height: 200px;
}

.key {
    width: 95px;
    height: 50px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    background-color: var(--main-color);
    color: var(--sec-color);
}

.w {
    position: absolute;
    top: 0;
    left: calc(70% - 108px);
}
.a {
    position: absolute;
    top: 50%;
    left: 0%;
}
.d {
    position: absolute;
    top: 50%;
    left: calc(100% - 108px);
}